* {
    font-family: 'Lato', sans-serif;;
}

body {
    margin: 0;
}

.top-area {
    height: 25vh;
    background-color: #002f47;
    display: flex;
    justify-content: space-between;
}

.link-nav {
    display: flex;
    margin-left: 2vw;
    margin-top: 10vh;
}

.single-link {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 5px;
}

.nav-text {
    font-size: 1.5vw;
    margin: 0;
}

.nav-image {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.mountain-text {
    color: aliceblue;
}

.rental-text,.lodging-text {
    color: #99abb5;
}

.mountain-icon {
    background-color: aliceblue;
}

.rental-icon, .lodging-icon {
    background-color: #99abb5;
}

.profilelogo {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    justify-content: center;
}

.user-name {
    margin: 0;
    color: aliceblue;
    font-size: larger;
    margin-right: 10px;
}

.user-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-img {
    width: 20px;
    height: 20px;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.logo-text {
    color: aliceblue;
    font-size:xx-large;
    margin-bottom: 2vh;
    margin-right: 1vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.main-section {
    height: 150vh;
    width: 100vw;
    background-color: #ccd5da;
}

.page-title {
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
    color: #002f47;
}

.mountain-windows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 2vw;
}

.window {
    border: 1px solid black;
    width: 23vw;
    height: 58vh;
    background-color: aliceblue;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mountain-header {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #002f47;
}

.mountain-logo {
    background-color: aliceblue;
    height: 80%;
    width: 60%;
}

.snowfall-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1vw;
}

.snowfall-label {
    font-size: large;
    color: #002f47;
    margin-bottom: 0;
}

.snowfall-number {
    margin: 0;
    font-size: xx-large;
    color: #002f47;
}

.mountain-name-section {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    margin-left: 2vw;
}

.mountain-name {
    margin: 0;
    color: #002f47;
    font-size: large;
}

.time-stamp {
    margin: 0;
    color: #668290;
    font-size: small;
}

.website-link-section {
    height: 10%;
    background-color: #ccd5da;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.website-link {
    font-size: small;
    margin-left: 1vw;
}

.vertical-feet-section {
    height: 15%;
    width: 100%;
    margin-left: 2vw;
    margin-top: 1vh;
}

.vertical-feet {
    margin-bottom: 0;
    font-size: small;
}

.vertical-feet-number {
    margin-top: 0;
    font-size: larger;
}

.visits-section {
    height: 20%;
    width: 100%;
    margin-left: 2vw;
    padding-top: 1vh;
}

.visits-title {
    margin: 0;
}

.visits-number {
    margin: 0;
    font-size: x-large;
    color: #32586b;
}

.mountain-header-1 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/pexels-visit-almaty-848595.jpg");
    background-size: cover;
}

.mountain-header-2 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/winterparkbackground.jpg");
    background-size: cover;
}

.mountain-header-3 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/keystonebackground.jpg");
    background-size: cover;
}

.mountain-header-4 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/copperbackground.jpg");
    background-size: cover;
}

.mountain-header-5 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/steamboatbackground.jpg");
    background-size: cover;
}

.mountain-header-6 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/breckenridgebackground.jpg");
    background-size: cover;
}

.mountain-header-7 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/aspenbackground.jpg");
    background-size: cover;
}

.mountain-header-8 {
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url("/Users/ryanbaer/home/2mod/projects/static_comp/Images/vailbackground.jpg");
    background-size: cover;
}

.logo-background {
    background-color: aliceblue;
    height: 47%;
    width: 22%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-top: 2vh;
}

.mountain-logo-5 {
    width: 80%;
    border-radius: 30%;
}

.mountain-logo-6 {
    height: 90%;
    width: 70%;
    border-radius: 30%;
}

.mountain-logo-7 {
    height: 90%;
    width: 90%;
    border-radius: 40%;
}

.mountain-logo-8 {
    width: 80%;
    border-radius: 40%;
}