* {
    font-family: 'Lato', sans-serif;;
}

body {
    margin: 0;
}

.top-area {
    height: 25vh;
    background-color: #002f47;
    display: flex;
    justify-content: space-between;
}

.link-nav {
    display: flex;
    margin-left: 2vw;
    margin-top: 10vh;
}

.single-link {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 5px;
}

.nav-text {
    font-size: 1.5vw;
    margin: 0;
}

.nav-image {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.mountain-text {
    color: #ccd5da;
}

.rental-text,.lodging-text {
    color: #99abb5;
}

.mountain-icon {
    background-color: #ccd5da;
}

.rental-icon, .lodging-icon {
    background-color: #99abb5;
}

.profilelogo {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    justify-content: center;
}

.user-name {
    margin: 0;
    color: #ccd5da;
    font-size: larger;
    margin-right: 10px;
}

.user-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-img {
    width: 20px;
    height: 20px;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.logo-text {
    color: #ccd5da;
    font-size:xx-large;
    margin-bottom: 2vh;
    margin-right: 1vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.main-section {
    height: 150vh;
    width: 100vw;
    background-color: #ccd5da;
}

.page-title {
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
    color: #002f47;
}

.mountain-windows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 2vw;
}

.window {
    border: 1px solid black;
    width: 23vw;
    height: 58vh;
    background-color: aliceblue;
}

.mountain-header {
    height: 35%;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.mountain-logo {
    background-color: aliceblue;
    height: 60%;
    width: 20%;
    border-radius: 50%;
}

.snowfall-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1vw;
}

.snowfall-label {
    font-size: large;
    color: #002f47;
    margin-bottom: 0;
}

.snowfall-number {
    margin: 0;
    font-size: xx-large;
}



